USE [master]
GO
/****** Object:  Database [AmarettoDB]    Script Date: 20/6/2026 08:40:32 ******/
CREATE DATABASE [AmarettoDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AmarettoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AmarettoDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CocinaOrden]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocinaOrden](
	[IdCocinaOrden] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[IdEstacion] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCocinaOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[IdCombo] [varchar](10) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Imagen1] [varchar](300) NULL,
	[Imagen2] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboProducto]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboProducto](
	[IdCombo] [varchar](10) NOT NULL,
	[IdProducto] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ComboProducto] PRIMARY KEY CLUSTERED 
(
	[IdCombo] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstacionCocina]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstacionCocina](
	[IdEstacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[IdIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCombo]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCombo](
	[IdMenuCombo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDetalleCombo]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetalleCombo](
	[IdMenuDetalleCombo] [int] IDENTITY(1,1) NOT NULL,
	[IdMenuCombo] [int] NOT NULL,
	[IdCombo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuDetalleCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDetalleProducto]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetalleProducto](
	[IdMenuDetalleProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdMenuProducto] [int] NOT NULL,
	[IdProducto] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuDetalleProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProducto]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProducto](
	[IdMenuProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](400) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[TipoTarjeta] [varchar](20) NULL,
	[UltimosDigitos] [char](4) NULL,
	[NombreTitular] [varchar](150) NULL,
	[MontoRecibido] [decimal](10, 2) NULL,
	[Vuelto] [decimal](10, 2) NULL,
	[FechaPago] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[MetodoEntrega] [varchar](20) NOT NULL,
	[DireccionEntrega] [varchar](300) NULL,
	[CostoEnvio] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[FechaPedido] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalle](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [varchar](10) NULL,
	[IdCombo] [varchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Personalizado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetallePersonalizacion]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetallePersonalizacion](
	[IdPersonalizacion] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[IdPersonalizacionTamano] [int] NULL,
	[IdPersonalizacionSabor] [int] NULL,
	[IdPersonalizacionRelleno] [int] NULL,
	[IdPersonalizacionDecoracion] [int] NULL,
	[RutaImagenReferencia] [varchar](300) NULL,
	[Mensaje] [varchar](300) NULL,
	[TiempoEst] [int] NULL,
	[PrecioExtra] [decimal](10, 2) NOT NULL,
	[MedidaCm] [int] NULL,
	[Imagen1] [varchar](300) NULL,
	[Imagen2] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [varchar](10) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[EsPersonalizable] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Imagen1] [varchar](300) NULL,
	[Imagen2] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoIngrediente]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoIngrediente](
	[IdProducto] [varchar](10) NOT NULL,
	[IdIngrediente] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/6/2026 08:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Sexo] [char](1) NULL,
	[Direccion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
	[NombreCompleto] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Pasteles', N'Pasteles artesanales de diferentes sabores', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Cupcakes', N'Cupcakes personalizados y decorados', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Galletas', N'Galletas decoradas y tradicionales', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO001', N'Combo Chocolate Lover', N'Perfecto para los amantes del chocolate: Pastel de Chocolate y Brownie', CAST(38.00 AS Decimal(10, 2)), 1, N'/images/combo-choco-1.jpg', N'/images/combo-choco-2.jpg')
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO002', N'Combo Pastelería Clásica', N'Lo mejor de la pastelería: Pastel de Vainilla, Galletas y Donas', CAST(37.00 AS Decimal(10, 2)), 1, N'/images/combo-clasica-1.jpg', N'/images/combo-clasica-2.jpg')
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO003', N'Combo Cupcakes Variados', N'Variedad de cupcakes: Chocolate y Vainilla', CAST(9.50 AS Decimal(10, 2)), 1, N'/images/combo-cupcakes-1.jpg', N'/images/combo-cupcakes-2.jpg')
GO
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO001', N'PROD001')
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO001', N'PROD007')
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO002', N'PROD002')
GO
SET IDENTITY_INSERT [dbo].[EstacionCocina] ON 

INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Preparación de Bases', N'Área donde se preparan las bases y masas de pastelería', 1)
INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Horneado', N'Área de horneado con hornos industriales', 1)
INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Relleno y Armado', N'Área para rellenos y armado de capas', 1)
SET IDENTITY_INSERT [dbo].[EstacionCocina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingrediente] ON 

INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (1, N'Harina de trigo', 1)
INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (2, N'Azúcar', 1)
INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (3, N'Huevos', 1)
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCombo] ON 

INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'Combos Verano 2026', N'Combos refrescantes para la temporada de calor', CAST(N'2026-06-01' AS Date), CAST(N'2026-08-31' AS Date), 1)
INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (2, N'Combos Invierno 2026', N'Combos reconfortantes para clima frío', CAST(N'2026-12-01' AS Date), CAST(N'2027-02-28' AS Date), 1)
INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (3, N'Combos Promoción Junio', N'Combos en promoción especial este mes', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[MenuCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuDetalleCombo] ON 

INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (1, 1, N'COMBO003')
INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (2, 1, N'COMBO005')
INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (3, 2, N'COMBO001')
SET IDENTITY_INSERT [dbo].[MenuDetalleCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuDetalleProducto] ON 

INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (1, 1, N'PROD002')
INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (2, 1, N'PROD004')
INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (3, 1, N'PROD005')
SET IDENTITY_INSERT [dbo].[MenuDetalleProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuProducto] ON 

INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'Menú Verano 2026', N'Productos frescos y ligeros ideales para la temporada estival', CAST(N'2026-06-01' AS Date), CAST(N'2026-08-31' AS Date), 1)
INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (2, N'Menú Invierno 2026', N'Productos reconfortantes y cálidos para la temporada fría', CAST(N'2026-12-01' AS Date), CAST(N'2027-02-28' AS Date), 1)
INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (3, N'Menú Especial Junio', N'Promoción especial para el mes de junio', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[MenuProducto] OFF
GO
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD001', 1, N'Pastel de Chocolate', N'Esponjoso pastel de chocolate con cobertura de ganache', CAST(35.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-chocolate-1.jpg', N'/images/pastel-chocolate-2.jpg')
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD002', 1, N'Pastel de Vainilla', N'Pastel clásico de vainilla con crema pastelera', CAST(32.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-vainilla-1.jpg', N'/images/pastel-vainilla-2.jpg')
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD003', 1, N'Pastel Selva Negra', N'Tres capas de chocolate, cerezas y crema', CAST(45.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-selva-negra-1.jpg', N'/images/pastel-selva-negra-2.jpg')
GO
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 1, CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 2, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 3, CAST(6.00 AS Decimal(10, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF39F9D091]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Categoria] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Combo__75E3EFCF17881A18]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Combo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estacion__75E3EFCF756405DC]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[EstacionCocina] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ingredie__75E3EFCF140FEA3F]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Ingrediente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PedidoDe__E43646A4119E022B]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[PedidoDetallePersonalizacion] ADD UNIQUE NONCLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__75E3EFCF80503EA4]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Producto] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__92C53B6C2646689D]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534C11BE912]    Script Date: 20/6/2026 08:40:33 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CocinaOrden] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EstacionCocina] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ingrediente] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MenuCombo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MenuProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('Completado') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [CostoEnvio]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [Personalizado]
GO
ALTER TABLE [dbo].[PedidoDetallePersonalizacion] ADD  DEFAULT ((0)) FOR [PrecioExtra]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [EsPersonalizable]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [NombreCompleto]
GO
ALTER TABLE [dbo].[CocinaOrden]  WITH CHECK ADD FOREIGN KEY([IdEstacion])
REFERENCES [dbo].[EstacionCocina] ([IdEstacion])
GO
ALTER TABLE [dbo].[CocinaOrden]  WITH CHECK ADD  CONSTRAINT [FK_CocinaOrden_PedidoDetalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[PedidoDetalle] ([IdDetalle])
GO
ALTER TABLE [dbo].[CocinaOrden] CHECK CONSTRAINT [FK_CocinaOrden_PedidoDetalle]
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD  CONSTRAINT [FK_ComboProducto_Combo] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[ComboProducto] CHECK CONSTRAINT [FK_ComboProducto_Combo]
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD  CONSTRAINT [FK_ComboProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ComboProducto] CHECK CONSTRAINT [FK_ComboProducto_Producto]
GO
ALTER TABLE [dbo].[MenuDetalleCombo]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetalleCombo_Combo] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[MenuDetalleCombo] CHECK CONSTRAINT [FK_MenuDetalleCombo_Combo]
GO
ALTER TABLE [dbo].[MenuDetalleCombo]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetalleCombo_MenuCombo] FOREIGN KEY([IdMenuCombo])
REFERENCES [dbo].[MenuCombo] ([IdMenuCombo])
GO
ALTER TABLE [dbo].[MenuDetalleCombo] CHECK CONSTRAINT [FK_MenuDetalleCombo_MenuCombo]
GO
ALTER TABLE [dbo].[MenuDetalleProducto]  WITH CHECK ADD FOREIGN KEY([IdMenuProducto])
REFERENCES [dbo].[MenuProducto] ([IdMenuProducto])
GO
ALTER TABLE [dbo].[MenuDetalleProducto]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[PedidoDetallePersonalizacion]  WITH CHECK ADD FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[PedidoDetalle] ([IdDetalle])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[ProductoIngrediente]  WITH CHECK ADD FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingrediente] ([IdIngrediente])
GO
ALTER TABLE [dbo].[ProductoIngrediente]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [CK_PedidoDetalle_ProductoCombo] CHECK  (([IdProducto] IS NOT NULL AND [IdCombo] IS NULL OR [IdProducto] IS NULL AND [IdCombo] IS NOT NULL))
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [CK_PedidoDetalle_ProductoCombo]
GO
USE [master]
GO
