USE [master]
GO
/****** Object:  Database [AmarettoDB]    Script Date: 9/8/2026 18:02:24 ******/
CREATE DATABASE [AmarettoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AmarettoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AmarettoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AmarettoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AmarettoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AmarettoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AmarettoDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CocinaOrden]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocinaOrden](
	[IdCocinaOrden] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[IdEstacion] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[OrdenPaso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCocinaOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[IdCombo] [varchar](10) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Imagen1] [varchar](300) NULL,
	[Imagen2] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboProducto]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboProducto](
	[IdCombo] [varchar](10) NOT NULL,
	[IdProducto] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ComboProducto] PRIMARY KEY CLUSTERED 
(
	[IdCombo] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstacionCocina]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstacionCocina](
	[IdEstacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[IdIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCombo]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCombo](
	[IdMenuCombo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDetalleCombo]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetalleCombo](
	[IdMenuDetalleCombo] [int] IDENTITY(1,1) NOT NULL,
	[IdMenuCombo] [int] NOT NULL,
	[IdCombo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuDetalleCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuDetalleProducto]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetalleProducto](
	[IdMenuDetalleProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdMenuProducto] [int] NOT NULL,
	[IdProducto] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuDetalleProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProducto]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProducto](
	[IdMenuProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](400) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenuProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPedido] [int] NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[CorreoEnviado] [bit] NOT NULL,
	[DetalleEnvio] [varchar](300) NULL,
 CONSTRAINT [PK_Notificacion] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[TipoTarjeta] [varchar](20) NULL,
	[UltimosDigitos] [char](4) NULL,
	[NombreTitular] [varchar](150) NULL,
	[MontoRecibido] [decimal](10, 2) NULL,
	[Vuelto] [decimal](10, 2) NULL,
	[FechaPago] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[MetodoEntrega] [varchar](20) NOT NULL,
	[DireccionEntrega] [varchar](300) NULL,
	[CostoEnvio] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[FechaPedido] [datetime] NOT NULL,
	[IdEncargado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalle](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [varchar](10) NULL,
	[IdCombo] [varchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Personalizado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetallePersonalizacion]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetallePersonalizacion](
	[IdPersonalizacion] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[Tamano] [varchar](20) NOT NULL,
	[MedidaCm] [int] NOT NULL,
	[SaborBizcocho] [varchar](30) NOT NULL,
	[TipoRelleno] [varchar](40) NOT NULL,
	[TipoDecoracion] [varchar](30) NOT NULL,
	[DecoracionDetalle] [varchar](100) NULL,
	[RutaImagenReferencia] [varchar](300) NULL,
	[Dedicatoria] [varchar](300) NOT NULL,
	[PrecioExtra] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [varchar](10) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[EsPersonalizable] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Imagen1] [varchar](300) NULL,
	[Imagen2] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoIngrediente]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoIngrediente](
	[IdProducto] [varchar](10) NOT NULL,
	[IdIngrediente] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/8/2026 18:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Sexo] [char](1) NULL,
	[Direccion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
	[NombreCompleto] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Pasteles', N'Pasteles artesanales de diferentes sabores', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Cupcakes', N'Cupcakes personalizados y decorados', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Galletas', N'Galletas decoradas y tradicionales', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[CocinaOrden] ON 

INSERT [dbo].[CocinaOrden] ([IdCocinaOrden], [IdDetalle], [IdEstacion], [Estado], [FechaInicio], [FechaFin], [OrdenPaso]) VALUES (1, 1, 1, N'Completado', CAST(N'2026-06-21T20:26:40.417' AS DateTime), CAST(N'2026-06-21T20:26:40.417' AS DateTime), 1)
INSERT [dbo].[CocinaOrden] ([IdCocinaOrden], [IdDetalle], [IdEstacion], [Estado], [FechaInicio], [FechaFin], [OrdenPaso]) VALUES (2, 1, 2, N'Completado', CAST(N'2026-06-21T20:26:40.417' AS DateTime), CAST(N'2026-06-21T20:26:40.417' AS DateTime), 2)
INSERT [dbo].[CocinaOrden] ([IdCocinaOrden], [IdDetalle], [IdEstacion], [Estado], [FechaInicio], [FechaFin], [OrdenPaso]) VALUES (3, 1, 3, N'En Proceso', CAST(N'2026-06-21T20:26:40.417' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[CocinaOrden] OFF
GO
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO001', N'Combo Chocolate Lover', N'Perfecto para los amantes del chocolate: Pastel de Chocolate y Brownie', CAST(38000.00 AS Decimal(10, 2)), 1, N'/images/combo-choco-1.jpg', N'/images/combo-choco-2.jpg')
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO002', N'Combo Pastelería Clásica', N'Lo mejor de la pastelería: Pastel de Vainilla, Galletas y Donas', CAST(37000.00 AS Decimal(10, 2)), 1, N'/images/combo-clasica-1.jpg', N'/images/combo-clasica-2.jpg')
INSERT [dbo].[Combo] ([IdCombo], [Nombre], [Descripcion], [Precio], [Estado], [Imagen1], [Imagen2]) VALUES (N'COMBO003', N'Combo Cupcakes Variados', N'Variedad de cupcakes: Chocolate y Vainilla', CAST(9000.00 AS Decimal(10, 2)), 1, N'/images/combo-cupcakes-1.jpg', N'/images/combo-cupcakes-2.jpg')
GO
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO001', N'PROD001')
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO001', N'PROD007')
INSERT [dbo].[ComboProducto] ([IdCombo], [IdProducto]) VALUES (N'COMBO002', N'PROD002')
GO
SET IDENTITY_INSERT [dbo].[EstacionCocina] ON 

INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Preparación de Bases', N'Área donde se preparan las bases y masas de pastelería', 1)
INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Horneado', N'Área de horneado con hornos industriales', 1)
INSERT [dbo].[EstacionCocina] ([IdEstacion], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Relleno y Armado', N'Área para rellenos y armado de capas', 1)
SET IDENTITY_INSERT [dbo].[EstacionCocina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingrediente] ON 

INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (1, N'Harina de trigo', 1)
INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (2, N'Azúcar', 1)
INSERT [dbo].[Ingrediente] ([IdIngrediente], [Nombre], [Estado]) VALUES (3, N'Huevos', 1)
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCombo] ON 

INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'Combos Verano 2026', N'Combos refrescantes para la temporada de calor', CAST(N'2026-06-01' AS Date), CAST(N'2026-08-31' AS Date), 1)
INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (2, N'Combos Invierno 2026', N'Combos reconfortantes para clima frío', CAST(N'2026-12-01' AS Date), CAST(N'2027-02-28' AS Date), 1)
INSERT [dbo].[MenuCombo] ([IdMenuCombo], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (3, N'Combos Promoción Junio', N'Combos en promoción especial este mes', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), 0)
SET IDENTITY_INSERT [dbo].[MenuCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuDetalleCombo] ON 

INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (1, 1, N'COMBO003')
INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (2, 1, N'COMBO005')
INSERT [dbo].[MenuDetalleCombo] ([IdMenuDetalleCombo], [IdMenuCombo], [IdCombo]) VALUES (3, 2, N'COMBO001')
SET IDENTITY_INSERT [dbo].[MenuDetalleCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuDetalleProducto] ON 

INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (1, 1, N'PROD002')
INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (2, 1, N'PROD004')
INSERT [dbo].[MenuDetalleProducto] ([IdMenuDetalleProducto], [IdMenuProducto], [IdProducto]) VALUES (3, 1, N'PROD005')
SET IDENTITY_INSERT [dbo].[MenuDetalleProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuProducto] ON 

INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'Menú Verano 2026', N'Productos frescos y ligeros ideales para la temporada estival', CAST(N'2026-06-01' AS Date), CAST(N'2026-08-31' AS Date), 0)
INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (2, N'Menú Invierno 2026', N'Productos reconfortantes y cálidos para la temporada fría', CAST(N'2026-12-01' AS Date), CAST(N'2027-02-28' AS Date), 1)
INSERT [dbo].[MenuProducto] ([IdMenuProducto], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Estado]) VALUES (3, N'Menú Especial Junio', N'Promoción especial para el mes de junio', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), 0)
SET IDENTITY_INSERT [dbo].[MenuProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificacion] ON 

INSERT [dbo].[Notificacion] ([IdNotificacion], [IdUsuario], [IdPedido], [Titulo], [Mensaje], [Tipo], [Leida], [FechaCreacion], [CorreoEnviado], [DetalleEnvio]) VALUES (1, 6, 1010, N'Pedido #1010 registrado', N'Tu pedido por ¢51 090,00 quedó registrado el 08/08/2026 03:10 p. m.. Estado: Pagado.', N'Pedido', 1, CAST(N'2026-08-08T15:10:58.110' AS DateTime), 0, N'El servicio de correo no está configurado (SmtpConfiguration sin usuario o contraseña).')
INSERT [dbo].[Notificacion] ([IdNotificacion], [IdUsuario], [IdPedido], [Titulo], [Mensaje], [Tipo], [Leida], [FechaCreacion], [CorreoEnviado], [DetalleEnvio]) VALUES (2, 6, 1011, N'Pedido #1011 registrado', N'Tu pedido por ¢7 020,00 quedó registrado el 08/08/2026 04:07 p. m.. Estado: Pagado.', N'Pedido', 1, CAST(N'2026-08-08T16:07:24.700' AS DateTime), 0, N'El servicio de correo no está configurado (SmtpConfiguration sin usuario o contraseña).')
INSERT [dbo].[Notificacion] ([IdNotificacion], [IdUsuario], [IdPedido], [Titulo], [Mensaje], [Tipo], [Leida], [FechaCreacion], [CorreoEnviado], [DetalleEnvio]) VALUES (3, 12, 1012, N'Pedido #1012 registrado', N'Tu pedido por ¢53 350,00 quedó registrado el 08/08/2026 04:29 p. m.. Estado: Pagado.', N'Pedido', 1, CAST(N'2026-08-08T16:29:42.047' AS DateTime), 0, N'El servicio de correo no está configurado (SmtpConfiguration sin usuario o contraseña).')
SET IDENTITY_INSERT [dbo].[Notificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([IdPago], [IdPedido], [MetodoPago], [TipoTarjeta], [UltimosDigitos], [NombreTitular], [MontoRecibido], [Vuelto], [FechaPago], [Estado]) VALUES (1, 1002, N'Efectivo', NULL, NULL, NULL, CAST(30000.00 AS Decimal(10, 2)), CAST(2880.00 AS Decimal(10, 2)), CAST(N'2026-08-06T14:21:35.307' AS DateTime), N'Completado')
INSERT [dbo].[Pago] ([IdPago], [IdPedido], [MetodoPago], [TipoTarjeta], [UltimosDigitos], [NombreTitular], [MontoRecibido], [Vuelto], [FechaPago], [Estado]) VALUES (2, 1003, N'Tarjeta', N'Debito', N'1253', N'Carmen Diaz', NULL, NULL, CAST(N'2026-08-06T14:41:47.710' AS DateTime), N'Completado')
INSERT [dbo].[Pago] ([IdPago], [IdPedido], [MetodoPago], [TipoTarjeta], [UltimosDigitos], [NombreTitular], [MontoRecibido], [Vuelto], [FechaPago], [Estado]) VALUES (3, 1004, N'Tarjeta', N'Credito', N'12  ', N'Pedro', NULL, NULL, CAST(N'2026-08-06T14:51:46.763' AS DateTime), N'Completado')
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([IdPedido], [IdUsuario], [Estado], [MetodoEntrega], [DireccionEntrega], [CostoEnvio], [Subtotal], [Impuesto], [Total], [Observaciones], [FechaPedido], [IdEncargado]) VALUES (1, 1, N'En Preparacion', N'Retiro', NULL, CAST(0.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(10, 2)), CAST(4.55 AS Decimal(10, 2)), CAST(39.55 AS Decimal(10, 2)), N'Pedido de prueba', CAST(N'2026-06-21T20:25:41.880' AS DateTime), NULL)
INSERT [dbo].[Pedido] ([IdPedido], [IdUsuario], [Estado], [MetodoEntrega], [DireccionEntrega], [CostoEnvio], [Subtotal], [Impuesto], [Total], [Observaciones], [FechaPedido], [IdEncargado]) VALUES (2, 5, N'Pendiente', N'Express', N'Alajuela, Costa Rica', CAST(2000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)), CAST(4550.00 AS Decimal(10, 2)), CAST(41550.00 AS Decimal(10, 2)), N'Prueba cocina: Pastel Individual', CAST(N'2026-07-19T10:46:15.010' AS DateTime), NULL)
INSERT [dbo].[Pedido] ([IdPedido], [IdUsuario], [Estado], [MetodoEntrega], [DireccionEntrega], [CostoEnvio], [Subtotal], [Impuesto], [Total], [Observaciones], [FechaPedido], [IdEncargado]) VALUES (3, 6, N'Pendiente', N'Retiro en tienda', N'N/A', CAST(0.00 AS Decimal(10, 2)), CAST(38000.00 AS Decimal(10, 2)), CAST(4940.00 AS Decimal(10, 2)), CAST(42940.00 AS Decimal(10, 2)), N'Prueba cocina: Un Combo Grande', CAST(N'2026-07-19T10:46:15.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[PedidoDetalle] ON 

INSERT [dbo].[PedidoDetalle] ([IdDetalle], [IdPedido], [IdProducto], [IdCombo], [Cantidad], [PrecioUnitario], [Subtotal], [Observaciones], [IVA], [Total], [Personalizado]) VALUES (1, 1, N'PROD001', NULL, 1, CAST(35.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(10, 2)), NULL, CAST(4.55 AS Decimal(10, 2)), CAST(39.55 AS Decimal(10, 2)), 0)
INSERT [dbo].[PedidoDetalle] ([IdDetalle], [IdPedido], [IdProducto], [IdCombo], [Cantidad], [PrecioUnitario], [Subtotal], [Observaciones], [IVA], [Total], [Personalizado]) VALUES (2, 1, N'PROD002', NULL, 1, CAST(32.00 AS Decimal(10, 2)), CAST(32.00 AS Decimal(10, 2)), NULL, CAST(4.16 AS Decimal(10, 2)), CAST(36.16 AS Decimal(10, 2)), 0)
INSERT [dbo].[PedidoDetalle] ([IdDetalle], [IdPedido], [IdProducto], [IdCombo], [Cantidad], [PrecioUnitario], [Subtotal], [Observaciones], [IVA], [Total], [Personalizado]) VALUES (3, 1, N'PROD003', NULL, 1, CAST(45.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), NULL, CAST(5.85 AS Decimal(10, 2)), CAST(50.85 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[PedidoDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[PedidoDetallePersonalizacion] ON 

INSERT [dbo].[PedidoDetallePersonalizacion] ([IdPersonalizacion], [IdDetalle], [Tamano], [MedidaCm], [SaborBizcocho], [TipoRelleno], [TipoDecoracion], [DecoracionDetalle], [RutaImagenReferencia], [Dedicatoria], [PrecioExtra]) VALUES (1, 1017, N'Pequeño', 15, N'Red Velvet', N'Mermelada de fresa', N'Temática de catálogo', N'Princesas — De la cenicienta y sus ratones', NULL, N'Feliz cumpleaños lucy', CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[PedidoDetallePersonalizacion] ([IdPersonalizacion], [IdDetalle], [Tamano], [MedidaCm], [SaborBizcocho], [TipoRelleno], [TipoDecoracion], [DecoracionDetalle], [RutaImagenReferencia], [Dedicatoria], [PrecioExtra]) VALUES (2, 1028, N'Pequeño', 15, N'Chocolate', N'Crema pastelera', N'Temática de catálogo', N'Princesas', NULL, N'feliz cumpleaños', CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PedidoDetallePersonalizacion] OFF
GO
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD001', 1, N'Pastel de Chocolate', N'Esponjoso pastel de chocolate con cobertura de ganache', CAST(3500.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-chocolate-1.jpg', N'/images/pastel-chocolate-2.jpg')
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD002', 1, N'Pastel de Vainilla', N'Pastel clásico de vainilla con crema pastelera', CAST(2000.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-vainilla-1.jpg', N'/images/pastel-vainilla-2.jpg')
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [Nombre], [Descripcion], [Precio], [EsPersonalizable], [Estado], [Imagen1], [Imagen2]) VALUES (N'PROD003', 1, N'Pastel Selva Negra', N'Tres capas de chocolate, cerezas y crema', CAST(3500.00 AS Decimal(10, 2)), 1, 1, N'/images/pastel-selva-negra-1.jpg', N'/images/pastel-selva-negra-2.jpg')
GO
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 1, CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 2, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[ProductoIngrediente] ([IdProducto], [IdIngrediente], [Cantidad]) VALUES (N'PROD001', 3, CAST(6.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (2, N'Cliente')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (3, N'Cocinero')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Email], [Password], [Telefono], [Sexo], [Direccion], [Estado], [NombreCompleto]) VALUES (1, 1, N'admin@amaretto.com', N'u3djZaMc+ipFDIgoAeS4iQ==', N'88888888', N'M', N'San José', 1, N'Administrador General')
INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Email], [Password], [Telefono], [Sexo], [Direccion], [Estado], [NombreCompleto]) VALUES (3, 4, N'encargado@amaretto.com', N'u3djZaMc+ipFDIgoAeS4iQ==', N'555-2001', N'F', N'Calle Gerencia 45, Ciudad', 1, N'María Rodríguez')
INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Email], [Password], [Telefono], [Sexo], [Direccion], [Estado], [NombreCompleto]) VALUES (4, 3, N'cocinero1@amaretto.com', N'cocinero456', N'555-3001', N'M', N'Calle Secundaria 78, Ciudad', 1, N'Luis Pérez')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF2F4F2EDA]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Categoria] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Combo__75E3EFCFC1E3E373]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Combo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estacion__75E3EFCF5AE8E305]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[EstacionCocina] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ingredie__75E3EFCF67874429]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Ingrediente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificacion_Usuario_Fecha]    Script Date: 9/8/2026 18:02:24 ******/
CREATE NONCLUSTERED INDEX [IX_Notificacion_Usuario_Fecha] ON [dbo].[Notificacion]
(
	[IdUsuario] ASC,
	[FechaCreacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PedidoDe__E43646A445AE72D9]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[PedidoDetallePersonalizacion] ADD UNIQUE NONCLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__75E3EFCFDE07C8C0]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Producto] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__92C53B6C76C96958]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534E79B3B36]    Script Date: 9/8/2026 18:02:24 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CocinaOrden] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CocinaOrden] ADD  DEFAULT ((1)) FOR [OrdenPaso]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EstacionCocina] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ingrediente] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MenuCombo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MenuProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Tipo]  DEFAULT ('Pedido') FOR [Tipo]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Leida]  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Fecha]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Correo]  DEFAULT ((0)) FOR [CorreoEnviado]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('Completado') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [CostoEnvio]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((0)) FOR [Personalizado]
GO
ALTER TABLE [dbo].[PedidoDetallePersonalizacion] ADD  DEFAULT ((0)) FOR [PrecioExtra]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [EsPersonalizable]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [NombreCompleto]
GO
ALTER TABLE [dbo].[CocinaOrden]  WITH CHECK ADD FOREIGN KEY([IdEstacion])
REFERENCES [dbo].[EstacionCocina] ([IdEstacion])
GO
ALTER TABLE [dbo].[CocinaOrden]  WITH CHECK ADD  CONSTRAINT [FK_CocinaOrden_PedidoDetalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[PedidoDetalle] ([IdDetalle])
GO
ALTER TABLE [dbo].[CocinaOrden] CHECK CONSTRAINT [FK_CocinaOrden_PedidoDetalle]
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD  CONSTRAINT [FK_ComboProducto_Combo] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[ComboProducto] CHECK CONSTRAINT [FK_ComboProducto_Combo]
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD  CONSTRAINT [FK_ComboProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ComboProducto] CHECK CONSTRAINT [FK_ComboProducto_Producto]
GO
ALTER TABLE [dbo].[MenuDetalleCombo]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetalleCombo_Combo] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[MenuDetalleCombo] CHECK CONSTRAINT [FK_MenuDetalleCombo_Combo]
GO
ALTER TABLE [dbo].[MenuDetalleCombo]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetalleCombo_MenuCombo] FOREIGN KEY([IdMenuCombo])
REFERENCES [dbo].[MenuCombo] ([IdMenuCombo])
GO
ALTER TABLE [dbo].[MenuDetalleCombo] CHECK CONSTRAINT [FK_MenuDetalleCombo_MenuCombo]
GO
ALTER TABLE [dbo].[MenuDetalleProducto]  WITH CHECK ADD FOREIGN KEY([IdMenuProducto])
REFERENCES [dbo].[MenuProducto] ([IdMenuProducto])
GO
ALTER TABLE [dbo].[MenuDetalleProducto]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Pedido]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Encargado] FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Encargado]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combo] ([IdCombo])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[PedidoDetallePersonalizacion]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDetallePersonalizacion_PedidoDetalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[PedidoDetalle] ([IdDetalle])
GO
ALTER TABLE [dbo].[PedidoDetallePersonalizacion] CHECK CONSTRAINT [FK_PedidoDetallePersonalizacion_PedidoDetalle]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[ProductoIngrediente]  WITH CHECK ADD FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingrediente] ([IdIngrediente])
GO
ALTER TABLE [dbo].[ProductoIngrediente]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [CK_PedidoDetalle_ProductoCombo] CHECK  (([IdProducto] IS NOT NULL AND [IdCombo] IS NULL OR [IdProducto] IS NULL AND [IdCombo] IS NOT NULL))
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [CK_PedidoDetalle_ProductoCombo]
GO
USE [master]
GO
